body {
    height: 100vh;
}

:root {
    --vp-nav-bg-color: var(--vp-c-bg) !important;
}

#VPContent.is-home::before {
  content: '';
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  
  background-image: url('/projects/br-403-ep/pic_1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  filter: blur(8px);
  pointer-events: none;
}

.dark #VPContent.is-home::before {
    filter: blur(8px) brightness(0.5);
}

.VPNavBar.fill,
.VPNavBar:not(.fill) {
  background-color: var(--vp-c-bg) !important;
  border-bottom: 1px solid var(--vp-c-divider) !important;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-top: 1rem;
}

.VPImage {
    border-radius: 12px;

}

.zoomable {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 12px;
}

img, video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.img-zoomable {
    transition: transform 1s ease;
}

.img-zoomable:hover {
    width: 100%;
    transform: scale(1.1);
}
